.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.lightSlider {
    overflow: hidden;
    margin: 0;
}

.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition-property: -webkit-transform, height;
    -moz-transition-property: -moz-transform, height;
    transition-property: transform, height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideWrapper.usingCss .lSFade>* {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}

.lSSlideOuter .lSPager.lSpg {
    margin: 0;
    padding: 0;
    text-align: center;
}

.lSSlideOuter .lSPager.lSpg>li {
    display: inline-block;
    padding-top: 36px;
    padding-right: 16px;
    cursor: pointer;
}

.lSSlideOuter .lSPager.lSpg>li a {
    background-color: #7a7974;
    border-radius: 50%;
    display: inline-block;
    width: 8px;
    height: 8px;
    overflow: hidden;
    text-indent: -9999px;
    position: relative;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.lSSlideOuter .lSPager.lSpg>li:hover a,
.lSSlideOuter .lSPager.lSpg>li.active a {
    background-color: #432b87;
}

.lSSlideOuter .lightSlider>* {
    float: left;
}